<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="1bQSAZU-xwjFtUrm9gLmHRXeRn-qxNi-dz1hXiBJvlA" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Atharva Data Science Community aims to empower individuals with knowledge and skills in technology. Join PRAESTO 2K24, a tech event featuring workshops, interactive sessions, and project opportunities.">
    <meta name="keywords" content="Atharva Data Science Community, PRAESTO 2K24, technology event, workshops, interactive sessions, project creation, Hyderabad tech event">
    <meta name="author" content="Atharva Data Science Community">
    <meta property="og:title" content="Atharva Data Science Community & PRAESTO 2K24 - Empowering Technology Enthusiasts">
    <meta property="og:description" content="Join PRAESTO 2K24 by Atharva Data Science Community and Malla Reddy Engineering College to explore the latest tech trends, workshops, and networking opportunities.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://atharvadsc.in">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:site_name" content="Atharva Data Science Community">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Atharva Data Science Community & PRAESTO 2K24 - Empowering Technology Enthusiasts">
    <meta name="twitter:description" content="Join PRAESTO 2K24 by Atharva Data Science Community and Malla Reddy Engineering College to explore the latest tech trends, workshops, and networking opportunities.">
    <title>Atharva Data Science Community & PRAESTO 2K24 - Empowering Technology Enthusiasts</title>
    <link rel="canonical" href="https://atharvadsc.in">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="7 days">
    <meta name="geo.region" content="IN">
    <meta name="geo.placename" content="Hyderabad">
    <meta name="geo.position" content="17.3850;78.4867">
    <meta name="ICBM" content="17.3850, 78.4867">
  <!-- Favicons -->
  <link href="https://raw.githubusercontent.com/abdulsaheel/filehosting/main/P.png" rel="icon">
  <link href="https://raw.githubusercontent.com/abdulsaheel/filehosting/main/P.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="https://abdulsaheel.github.io/PRAESTO-2K24/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="https://abdulsaheel.github.io/PRAESTO-2K24/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://abdulsaheel.github.io/PRAESTO-2K24/lib/animate/animate.min.css" rel="stylesheet">
  <link href="https://abdulsaheel.github.io/PRAESTO-2K24/lib/venobox/venobox.css" rel="stylesheet">
  <link href="https://abdulsaheel.github.io/PRAESTO-2K24/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="https://abdulsaheel.github.io/PRAESTO-2K24/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="https://i.ibb.co/pRvJgSp/praesto-2k24-logo-1.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#registration-form">Register</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#supporters">Sponsors</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Annual<br><span>Tech Event</span> of MREC</h1>
      <p class="mb-4 pb-0">24-26, June 2023 MREC, Hyderabad</p>
      <a href="https://www.youtube.com/shorts/r2rUl0ewgmc" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
        <div class="countdown-section mt-4">
            <h3 style="color: white;">Register Before Time Runs Out!</h3>
            <div id="countdown" class="countdown" style="color: white;"></div>
            <script>
                // Countdown timer script 
                var countdownDate = new Date('2024-06-24T00:00:00').getTime();
                var countdownTimer = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countdownDate - now;
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    document.getElementById('countdown').innerHTML = days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's ';
                    if (distance < 0) {
                        clearInterval(countdownTimer);
                        document.getElementById('countdown').innerHTML = 'EXPIRED';
                    }
                }, 1000);
            </script>
        </div>
        
      <a href="#registration-form" class="about-btn scrollto">Register Now</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>PRAESTO 2K24 is a three-day event designed for students, tech enthusiasts, and professionals. It offers a platform to explore the latest tech trends, network with industry peers, and enjoy learning and entertainment. The event features workshops, interactive sessions with experts, project creation opportunities, and a showcase of projects with prizes.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Malla Reddy Engineering College</p>
            Maisammaguda
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Monday to Wednesday<br>24-26 June</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>The speakers' lineup for the event will soon be unveiled, stay tuned for the exciting reveal!</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="speaker">
              <img src="" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Muditha Dubey</a></h3>
                <p>UI/UX</p>
                <div class="social">

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="speaker">
              <img src="" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">ETHICAL HACKING</a></h3>
                <p>KARTHIK CHANDRA</p>
                <div class="social">

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="speaker">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Web Development</a></h3>
                <p></p>
                <div class="social">

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="speaker">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Data Science</a></h3>
                <p>Debitis iure vero</p>
                <div class="social">

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="speaker">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Build Your AI</a></h3>
                <p>Qui molestiae natus</p>
                <div class="social">

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </section>
    <div id="registration-form" class="mt-5" >
      <div class="alert alert-danger mt-4">
        <strong>Note:</strong> For a smoother transaction experience, please use PhonePe or QR Code payment options.
    </div>
       <div class="alert alert-danger mt-4">
        Data Science slots are full
    </div>

      <div class="row" style="justify-content: center;">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-body">
                      <h2 class="card-title text-center mb-4">PRAESTO - 2K24 Registration</h2>
                      <h2 class="card-title text-center mb-4">Registration Closed ! Housefull !!</h2>
                    </div>
              </div>
          </div>

  </div>
    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Here is our event schedule</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3</a>
          </li>
        </ul>

        <h3 class="sub-heading"></h3>

        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

             

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Inaugaration <span></span></h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>workshops<span> </span></h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>1:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Lunch<span> </span></h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Workshops Resume</h4>
              </div>
            </div>

            

            <div class="row schedule-item">
              <div class="col-md-2"><time>04:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>End of Day 1<span></span></h4>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

            <div class="row schedule-item">
              <div class="col-md-2"><time>09:30 AM</time></div>
              <div class="col-md-10">
                
                <h4>Workshops Session-2<span></span></h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Recess<span></span></h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>01:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Lunch</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Workshops Resume<span></span></h4>
              </div>
            </div>

             

            <div class="row schedule-item">
              <div class="col-md-2"><time>04:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>End of day2 <span></span></h4>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Speaker 1</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Speaker 2</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Speaker 3  </h4>
              </div>
            </div>

           
            </div>

          </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section>

    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event venue location info and gallery</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3803.929811438328!2d78.44868871072548!3d17.558528097783007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8f9f1fb120d1%3A0x2d4f935c2378dbe6!2sMalla%20Reddy%20Engineering%20College!5e0!3m2!1sen!2sin!4v1718355882615!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8">
                <h3>Malla Reddy Engineering college</h3>
                <p>Maisammaguda</p>   </div>
            </div>
          </div>
        </div>

      </div>



    </section>



    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <img src="https://raw.githubusercontent.com/abdulsaheel/PRAESTO-2K24/main/IMG-20240614-WA0005.jpg" alt="">
        <img src="https://raw.githubusercontent.com/abdulsaheel/PRAESTO-2K24/main/IMG-20240614-WA0006.jpg" alt="">
        <img src="https://raw.githubusercontent.com/abdulsaheel/PRAESTO-2K24/main/IMG-20240614-WA0007.jpg" alt="">
        <img src="https://raw.githubusercontent.com/abdulsaheel/PRAESTO-2K24/main/IMG-20240614-WA0008.jpg" alt="">
        <img src="https://raw.githubusercontent.com/abdulsaheel/PRAESTO-2K24/main/IMG-20240614-WA0009.jpg" alt="">
        <img src="https://raw.githubusercontent.com/abdulsaheel/PRAESTO-2K24/main/IMG-20240614-WA0010.jpg" alt="">


      </div>

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header" style="text-align: center;">
          <h2>Sponsors</h2>
           <h3 >Revealing soon...</h3>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" style="display: none;">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="https://abdulsaheel.github.io/PRAESTO-2K24/img/supporters/8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">

                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Can you provide details about the guest speakers or experts who will be attending?
                    <i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                      Guest speakers and experts attending Praesto this year include professionals from leading tech companies, academic researchers, and entrepreneurs with expertise in various fields such as artificial intelligence, cybersecurity, and renewable energy.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">Is there any specific theme for this year's Praesto?
                    <i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                      The specific theme for this year's Praesto is "Innovate, Collaborate, Transform," focusing on encouraging innovation, fostering collaboration, and driving transformation in the tech industry.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">Are there any opportunities for networking or collaboration with industry professionals?
                    <i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                      Praesto provides opportunities for networking and collaboration with industry professionals through panel discussions, networking sessions, and career fairs where students can interact with recruiters and experts from various companies.

                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">Can you provide examples of real-world web development projects? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
                      It's a project based workshop where u will be taught how to build a project by the end of day 2                    </p>
                  </div>
                </li>
      
               
      
              </ul>
          </div>
        </div>

      </div>

    </section>

 
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Atharva Data Science Community</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Malla Reddy Engineering College Maisammaguda
              </address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+91 80749 14825</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">atharvadscommunity@mrec.ac.in</a></p>
            </div>
          </div>

        </div>


      </div>
    </section><!-- #contact -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="https://i.ibb.co/pRvJgSp/praesto-2k24-logo-1.png" alt="TheEvenet">
            <p>PRAESTO 2K24 is a three-day event designed for students, tech enthusiasts, and professionals. It offers a platform to explore the latest tech trends, network with industry peers, and enjoy learning and entertainment</p>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Malla Reddy Engineering College(A)<br>
              Maissamaguda, Kompally<br>
              Hyderabad, Telangana`<br>
              <strong>Phone:</strong> +91 80749 14825<br>
              <strong>Email:</strong> atharvadscommunity@mrec.ac.in<br>
            </p>

            <div class="social-links">
              <a href="https://www.instagram.com/atharvadsc/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/atharva-data-science-community" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Atharva Data Science Community</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/jquery/jquery.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/jquery/jquery-migrate.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/easing/easing.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/superfish/hoverIntent.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/superfish/superfish.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/wow/wow.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/venobox/venobox.min.js"></script>
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/lib/owlcarousel/owl.carousel.min.js"></script>


  <!-- Template Main Javascript File -->
  <script src="https://abdulsaheel.github.io/PRAESTO-2K24/js/main.js"></script>
</body>

</html>
